html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter-subset.woff2?v=3.15") format("woff2");
}

/** default page transition **/
.fade-enter-active,
.fade-leave-active 
.page-enter-active,
.page-leave-active {
  transition: opacity .4s;
}

.fade-enter,
.fade-leave-to 
.page-enter,
.page-leave-to {
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transform: translateY(0);
  transition: 0.3s ease opacity, 0.3s ease transform;
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(10px) rotateZ(3deg) skew(10deg);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transform: translateX(0);
  transition: 0.3s ease opacity, 0.3s ease transform;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-enter-active, .list-leave-active {
  transition: all 0.5s;
}
.list-enter /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(10px);
}
.list-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}